---
import Reproductor from "./Reproductor.astro";
---

<section class="container mx-auto flex justify-center">
  <img src="logo.webp" alt="Radio Ieanjesus Peru logo" />
</section>
<section class="container mx-auto flex justify-center px-2 py-2 text-xl">
  <p class="text-center">
    Radio oficial de la iglesia Evangelica Apostólica del Nombre de Jesús. La
    señal que transmite bendición desde el Perú a las naciones
  </p>
</section>
<section class="container mx-auto flex justify-center px-2 py-2 text-xl">
  <Reproductor />
</section>
